@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h4-fw: 400;
  --h4-fs: theme("fontSize.sm");
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: theme("fontSize.base");
  @apply font-sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark body {
  @apply bg-blackblue text-gray-50
}

img { 
  @apply max-w-full block;
}

h3 {
  @apply font-semibold text-xl drop-shadow-[1px_1px_0px_#fff];
}

h4 {
  @apply tracking-wide;
  font-size: var(--h4-fs);
  font-weight: var(--h4-fw);
}

code, kbd, samp, pre {
  @apply text-sm my-4;
}

p {
  @apply mb-6
}

/* dark theme */
.dark h4 {
  --h4-fw: 600;
  --h4-fs: 1rem;
  @apply opacity-70
}


@media (prefers-reduced-motion: no-preference) {
  
  #app, a, .card-image a img, .btn-switch, .btn-switch::before {
    transition: all .2s ease-in-out;
  }
}
